package components

import "musiikkiProjektit/chorprog"

templ ChordprogDisplay(prog chorprog.Progression) {
    <h3>Currently displaying chords 
    for _, n := range prog.ChordNums{
        {n},
    }
     in the key of {prog.Key}, from the mode {prog.ModeText}</h3>

    <p>Tässä näkyy nuotit, ja soinnut</p>

    <button
    hx-get="/chordprogress"
    hx-select="#chordProgDisplay"
    hx-swap="innteHTML"
    hx-target="#chordProgDisplay"
    >Get other progression</button>
}
