package components

templ Header(){
    <header>
        <h1>Musiikki opiskelu</h1>
    </header>

    <nav>
        <button>
            test
        </button>

        <button>
            test2
        </button>
    </nav>
}
