package components

templ LoginWelcomeMsg(username string){
    <div>
        <h2>
            Welcome back {username}
        </h2>
        <a href="/">
            Front page
        </a>
    </div>
}
