package components

import "musiikkiProjektit/notes"

templ NoteDisplay(notes []notes.Note){
    if len(notes) == 0 {
        <p>No notes found</p>
    } else {
        for _, note := range notes {
            @Note(note)
        }
    }
}
