package index

import "musiikkiProjektit/views/layouts"
import "musiikkiProjektit/utils"

templ Index(sessionData utils.Session){
    @layouts.Base(sessionData){
        <div>
            <h2>Welcome to my music projects page</h2>
        </div>
    }
}
