package notes

import "musiikkiProjektit/views/layouts"

templ NotesPage(loggedIn bool){
    @layouts.Base(){
        <h2>Notes</h2>
        <div id="note-container">
        if loggedIn {
            <p hx-trigger="load" hx-post="/notes/api/getsavednotes" hx-swap="#note-container">
                Fetching saved notes...
            </p>
        }else{
            <p>
                Log in to see your saved notes and to make new notes.
            </p>
        }
        </div>
    }
}
