package pages

import "musiikkiProjektit/views/layouts"
import "musiikkiProjektit/session"

templ ChordProg(sessionData session.Session){
    @layouts.Base(sessionData){
        <p>
            Helloworld chordprog
        </p>
    }
}
