package pages

import "musiikkiProjektit/views/layouts"
import "musiikkiProjektit/session"
import "musiikkiProjektit/views/components"

templ ChordProg(sessionData session.Session){
    @layouts.Base(sessionData){
        <h2>
            Chord progress
        </h2>
        <p>
            Get any of the diatonic chords for the specified key
        </p>

        <div id="chordProgDisplay">
            @components.ChordProgForm()
        </div>
    }
}
