package pages

import "musiikkiProjektit/views/layouts"
import "musiikkiProjektit/session"

templ KeyQuiz(sessionData session.Session){
    @layouts.Base(sessionData){
        <h2>Key quiz</h2>
        <div id="quiz-area">
            <p>This is a quiz about recognizing the accidentals of a given key</p>
            <p>Click start to begin</p>
            <button hx-get="/api/keyquiz/start" hx-target="#quiz-area">
                Start!
            </button>
        </div>
    }
}
