package chordprogress

import "musiikkiProjektit/views/layouts"
import "musiikkiProjektit/session"

templ ChordProgPage(sessionData session.Session){
    @layouts.Base(sessionData){
        <p>
            Helloworld chordprog
        </p>
    }
}
