package chordprogress

import "musiikkiProjektit/views/layouts"
import "musiikkiProjektit/utils"

templ ChordProgPage(sessionData utils.Session){
    @layouts.Base(sessionData){
        <p>
            Helloworld chordprog
        </p>
    }
}
